@use "../abstracts/colours" as c;

footer {
    background-color: palevioletred;
    div {
        grid-column: 2;
        display: flex;
        justify-self: center;
    }
}

#index-footer, #tos-footer, #contact-footer, #commissions-footer {
    position: fixed;
    bottom: 0;
    grid-column: 1/-1;
    width: 100%;
}

.sm-logos {
    padding-top: 5px;
    padding-bottom: 5px;
}