#info-area {
    margin-top: 30px;
    margin-bottom: 30px;
    div {
        display: flex;
        flex-direction: column;
        align-self: center;
        p {
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            text-align: center;
        }
    }
}

#sweater-yumi {
    max-height: 300px;
    display: flex;
    align-self: center;
    justify-self: center;
    border: 1px transparent;
    border-radius: 300px;
}