@use "../abstracts/colours" as c;

#info-area {
    margin-top: 30px;
    margin-bottom: 30px;
    div {
        display: flex;
        flex-direction: column;
        align-self: center;
        p {
            padding-bottom: 5px;
            text-align: center;
            margin: 0;
        }
    }
}

#sweater-yumi {
    max-height: 300px;
    display: flex;
    align-self: center;
    justify-self: center;
    border: 1px transparent;
    border-radius: 300px;
}

#x-index {
    a {
        transition: all ease-in-out 0.5s;
        color: c.$purple;
        &:hover {
            color: white;
        }
    }
}