@use "../abstracts/colours" as c;

#disclaimer {
    margin-top: 30px;
    text-align: center;
    p {
        &:first-of-type {
            font-weight: bold;
        }
    }
}

#tos-buttons div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    p {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        border: 1px solid c.$purple;
        padding: 10px;
        border-radius: 20px;
        &:hover {
            color: c.$light-pink;
            text-decoration: underline;
            background-color: c.$purple;
            border: 1px solid c.$purple;
        }
    }
}

#art-guidelines, #writing-guidelines, #terms, #information {
    display: none;
    padding-top: 20px;
    margin-bottom: 30px;
    border: 2px solid c.$purple;
    border-radius: 10px;
    h2 {
        font-size: 16px;
        text-align: left;
        text-decoration: underline;
    }
}

#note {
    line-height: 30px;
    span {
        font-weight: bold;
    }
}

#writing-guidelines {
    li {
        line-height: 20px;
        margin-bottom: 20px;
    }
}

#terms {
    div{
        p {
            line-height: 30px;
            span {
                font-weight: bold;
            }
        }
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }
}

#information {
    p {
        line-height: 20px;
    }
}

#important-note {
    text-align: center;
    font-style: italic;
}